/*
  bitpay: #293c92
  copay: #1abb9b
*/

.color-divider {
  width: 55%;
  height: 0;
  border-top: 100px solid #293c92;
  border-right: 100px solid transparent;
}

.header {
  background-color: #1abb9b;
}

#header-content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin: 0px !important;
  width: 100%;
  top: 27px;
}

.repository-link {
  position: absolute;
  top: 70px;
  left: 49%;
}

#header-content-left {
  float: left;
  margin-left: 5%;
}

#header-content-center {
  text-align: center;
  margin: auto;
}

.title {
  Background: #3F546B;
  font-size: 1.2rem;
  font-weight: 100;
  color: #A8B2BC;
  letter-spacing: 3px;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 5px;
}

#header-content-right {
  float: right;
  margin-right: 5%;
}

.container {
  background-color: #3F546B;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  margin-top: 25px;
}

html,
body {
  background-color: #F1f3f5;
	margin:0;
	padding:0;
	height:100%;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif
}

label {
  font-weight: 500;
  margin-bottom: 10px;
}

.m20b { margin-bottom: 20px;}

.page-footer {
  padding: 1em 0em 1em 0em;
  background: #F4F6F9;
  width:100%;
	height:3em;
	bottom:0;
	left:0;
}
#wrapper {
	min-height:100%;
	position:relative;
}

.panel {
  width: 100%;
  padding: 2rem;
  overflow: hidden;
}

.panel h4 {
  margin: 0 0 20px 0;
  border-bottom: 1px solid #f1f3f5;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.btn-primary {
  background-color: #1abb9b;
}

.btn-primary:hover {
  background-color: #293c92;
}
