<!DOCTYPE html>
<html ng-app="recoveryApp" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/sjcl/sjcl.js"></script>
    <script type="text/javascript" src="bower_components/bitcore/bitcore.min.js"></script>
    <script type="text/javascript" src="bower_components/bitcore/bitcore.js"></script>
    <script type="text/javascript" src="bower_components/bitcore-mnemonic/bitcore-mnemonic.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/ng-lodash/build/ng-lodash.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="hexdots.css" type="text/css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css"></link>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <title>Copay recovery tool</title>
</head>
<div id="wrapper">
    <header class="page-header">
        <div class="container">
            <img src="./img/logo-white.svg" alt="Copay" width="80" class="pull-left">
            <span class="label">recovery tool</span>
            <a href="https://github.com/bitpay/copay-recovery" type="button" class="btn btn-default btn-primary pull-right" target="blank">View the Code</a>
        </div>
    </header>
    <div class="container">
      <div ng-show="successMessage" class="alert alert-success">
          {{successMessage}}
      </div>
      <div ng-show="errorMessage" class="alert alert-danger">
          {{errorMessage}}
      </div>
      <div ng-show="statusMessage" class="alert alert-info">
          {{statusMessage}}
      </div>
    </div>
    <body ng-controller="recoveryController">
        <div class="container">
            <div ng-if="!isSearching">
                <div class="form-group panel">
                    <label>{{totalBalance}}</label>
                    <div class="input-group">
                        <div class="input-group-addon" >Destination Address:</div>
                        <input type="text" class="form-control" ng-model="addr">
                    </div>
                </div>
                <button class="btn btn-primary btn-lg btn-block" ng-click="sendFunds()">Transfer</button>
            </div>
            <div ng-if="isSearching">
                <div class="panel">
                  <h4>Wallet configuration:</h4>
                  <div class="row">
                      <div class="col-md-3">
                          <label>Required signatures</label>
                          <select class="pull-right" ng-model="data.m" ng-options="option as option for option in availableOptions track by option"></select>
                          <br>
                          <label>Total Copayers</label>
                          <select class="pull-right" ng-model="data.n" ng-options="option as option for option in availableOptions track by option">></select>
                          <br>
                          <label>Network</label>
                          <select class="pull-right" ng-model="data.net" ng-options="option as option for option in availableNetworks track by option">></select>
                          <br>
                          <label>Address Gap</label>
                          <input  class="pull-right"  size="3" type="text" class="form-control" id="gap" ng-model="data.gap">
                          <span>(Usually does not need to be changed)</span>
                          <br>
                      </div>
                  </div>
                </div>
                <div class="form-group panel" ng-if="data.n >= 1">
                  <div class="row">
                    <div class="form-group col-lg-6" id="backup1">
                        <label>Backup for copayer 1:</label>
                        <input type="text" class="form-control" ng-model="backUp[1]" placeholder="Mnemonic or export wallet data">
                    </div>
                    <div class="form-group col-lg-6" id="backupFile1">
                        <label>Or upload a file: </label>
                        <input type="file" ng-model="file1" on-read-file="showContent($fileContent, 1)" accept="application/json, .txt">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-lg-6" id="password1">
                        <label>Password:</label>
                        <input type="password" class="form-control" ng-model="pass[1]">
                    </div>
                    <div class="form-goup col-lg-6" id="passwordX1">
                        <label>Encrypted private key password (in case you have one):</label>
                        <input type="password" class="form-control" ng-model="passX[1]" id="passX1">
                    </div>
                  </div>
                </div>

                <div class="form-group panel" ng-if="data.n >= 2">
                  <div class="row">
                    <div class="form-group col-lg-6" id="backup2">
                        <label>Backup for copayer 2:</label>
                        <input type="text" class="form-control" ng-model="backUp[2]" placeholder="Mnemonic or export wallet data">
                    </div>
                    <div class="form-group col-lg-6" id="backupFile2">
                        <label>Or upload a file: </label>
                        <input type="file" ng-model="file2" on-read-file="showContent($fileContent, 2)" accept="application/json, .txt">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-lg-6" id="password2">
                        <label>Password:</label>
                        <input type="password" class="form-control" ng-model="pass[2]">
                    </div>
                    <div class="form-goup col-lg-6" id="passwordX2">
                        <label>Encrypted private key password (in case you have one):</label>
                        <input type="password" class="form-control" ng-model="passX[2]" id="passX2">
                    </div>
                  </div>
                </div>

                <div class="form-group panel" ng-if="data.n >= 3">
                  <div class="row">
                    <div class="form-group col-lg-6" id="backup3">
                        <label>Backup for copayer 3:</label>
                        <input type="text" class="form-control" ng-model="backUp[3]" placeholder="Mnemonic or export wallet data">
                    </div>
                    <div class="form-group col-lg-6" id="backupFile3">
                        <label>Or upload a file: </label>
                        <input type="file" ng-model="file3" on-read-file="showContent($fileContent, 3)" accept="application/json, .txt">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-lg-6" id="password3">
                        <label>Password:</label>
                        <input type="password" class="form-control" ng-model="pass[3]">
                    </div>
                    <div class="form-goup col-lg-6" id="passwordX3">
                        <label>Encrypted private key password (in case you have one):</label>
                        <input type="password" class="form-control" ng-model="passX[3]" id="passX3">
                    </div>
                  </div>
                </div>

                <div class="form-group panel" ng-if="data.n >= 4">
                  <div class="row">
                    <div class="form-group col-lg-6" id="backup4">
                        <label>Backup for copayer 4:</label>
                        <input type="text" class="form-control" ng-model="backUp[4]" placeholder="Mnemonic or export wallet data">
                    </div>
                    <div class="form-group col-lg-6" id="backupFile4">
                        <label>Or upload a file: </label>
                        <input type="file" ng-model="file4" on-read-file="showContent($fileContent, 4)" accept="application/json, .txt">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-lg-6" id="password4">
                        <label>Password:</label>
                        <input type="password" class="form-control" ng-model="pass[4]">
                    </div>
                    <div class="form-goup col-lg-6" id="passwordX4">
                        <label>Encrypted private key password (in case you have one):</label>
                        <input type="password" class="form-control" ng-model="passX[4]" id="passX4">
                    </div>
                  </div>
                </div>

                <div class="form-group panel" ng-if="data.n >= 5">
                  <div class="row">
                    <div class="form-group col-lg-6" id="backup5">
                        <label>Backup for copayer 5:</label>
                        <input type="text" class="form-control" ng-model="backUp[5]" placeholder="Mnemonic or export wallet data">
                    </div>
                    <div class="form-group col-lg-6" id="backupFile5">
                        <label>Or upload a file: </label>
                        <input type="file" ng-model="file5" on-read-file="showContent($fileContent, 5)" accept="application/json, .txt">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-lg-6" id="password5">
                        <label>Password:</label>
                        <input type="password" class="form-control" ng-model="pass[5]">
                    </div>
                    <div class="form-goup col-lg-6" id="passwordX5">
                        <label>Encrypted private key password (in case you have one):</label>
                        <input type="password" class="form-control" ng-model="passX[5]" id="passX5">
                    </div>
                  </div>
                </div>

                <div class="form-group panel" ng-if="data.n >= 6">
                  <div class="row">
                    <div class="form-group col-lg-6" id="backup6">
                        <label>Backup for copayer 6:</label>
                        <input type="text" class="form-control" ng-model="backUp[6]" placeholder="Mnemonic or export wallet data">
                    </div>
                    <div class="form-group col-lg-6" id="backupFile6">
                        <label>Or upload a file: </label>
                        <input type="file" ng-model="file6" on-read-file="showContent($fileContent, 6)" accept="application/json, .txt">
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="form-group col-lg-6" id="password6">
                        <label>Password:</label>
                        <input type="password" class="form-control" ng-model="pass[6]">
                    </div>
                    <div class="form-goup col-lg-6" id="passwordX6">
                        <label>Encrypted private key password (in case you have one):</label>
                        <input type="password" class="form-control" ng-model="passX[6]" id="passX6">
                    </div>
                  </div>
                </div>


                <button class="btn btn-primary btn-lg btn-block" ng-click="proccessInputs()">Scan wallet</button><br><br>
            </div>
            <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" style="position: absolute;display: block;top: 50%;left: 50%;">
                    <!-- Modal content-->
                    <div class="hexdots-loader" ></div>
                </div>
            </div>
        </div>
    </body>
</div>
</html>
