<div class="header">
  <div class="header-content">
    <img class="bitpay-logo" src="assets/img/bitpay-logo-negative.svg" alt="Bitpay">
    <div class="header-center">
      <h3 class="header-title" >Recovery Tool</h3>
      <div class="repository-link">
        <a href="https://github.com/bitpay/copay-recovery" target="blank">
          <img src="assets/img/github.png" alt="Github">
        </a>
      </div>
    </div>
    <img class="copay-logo" src="assets/img/copay-logo-negative.svg" alt="Copay">
  </div>
</div>
<div [hidden]="!showLoadingSpinner" class="no-clickable-background">
  <div class="loading-message">
    <h5>Please wait</h5>
    <h5>This process could take several minutes</h5>
    <PRE *ngIf="(reportAddresses || reportAmount || reportInactive) && beforeScan">
      <div class="labels">
        Scanned addresses:
        Found funds:
        Inactive Addresses Streak:
      </div>
      <div class="values">
        {{reportAddresses}}
        {{reportAmount}}
        {{reportInactive}}
      </div>
    </PRE>
  </div>
</div>
<div class="container">

  <div [hidden]="!successMessage" class="alert alert-success">{{successMessage}}</div>
  <div [hidden]="!errorMessage" class="alert alert-danger">{{errorMessage}}</div>
  <div [hidden]="!statusMessage" class="alert alert-info">{{statusMessage}}</div>

  <form #processInputsForm="ngForm" (ngSubmit)="processInputs()" *ngIf="beforeScan">

    <div class="card">
      <div class="card-block">
        <h4 class="card-title">WALLET CONFIGURATION</h4>
        <div class="row">
          <div class="col-sm-12 col-xs-12 first-row">
            <div class="form-group signatures">
              <label for="signaturesNumber">Required number of signatures</label>
              <select class="form-control" id="signaturesNumber" name="signaturesNumber" [(ngModel)]="signaturesNumber">
              <option *ngFor="let option of availableOptions" [ngValue]="option">{{option}}</option>
            </select>
            </div>

            <div class="form-group copayers">
              <label for="copayersNumber">Total number of Copayers</label>
              <select class="form-control" id="copayersNumber" name="copayersNumber" [(ngModel)]="copayersNumber" (ngModelChange)="updateCopayersForm($event)">
              <option *ngFor="let option of availableOptions" [ngValue]="option">{{option}}</option>
            </select>
            </div>
          </div>

          <div class="form-group col-sm-6 col-xs-12">
            <label for="chain">Chain: Bitcoin</label>
            <span *ngIf="chain == 'btc/livenet'">livenet</span>
            <span *ngIf="chain == 'btc/testnet'">testnet</span>
            <span *ngIf="chain == 'bch/livenet'">Cash livenet</span>
            <div class="chain-select">
              <select class="form-control" id="chain" name="chain" [(ngModel)]="chain">
                <option *ngFor="let chain of availableChains" [ngValue]="chain">{{chain}}</option>
              </select>
              <div class="chain-logo-container">
                <img src="assets/img/icon-btc.svg" class="chain-logo" *ngIf="chain == 'btc/livenet'">
                <img src="assets/img/icon-testnet.svg" class="chain-logo" *ngIf="chain == 'btc/testnet'">
                <img src="assets/img/icon-bch.svg" class="chain-logo" *ngIf="chain == 'bch/livenet'">
              </div>
            </div>
          </div>

          <div class="form-group col-sm-6 col-xs-12">
            <label for="addressGap">Address Gap</label><small> (Usually does not need to be changed)</small>
            <input type="number" class="form-control" id="addressGap" name="addressGap" [(ngModel)]="addressGap" required>
          </div>
        </div>
      </div>
    </div>

    <div class="card" *ngFor="let copayer of copayers">
      <div class="card-block">
        <h6 class="card-title">Backup for copayer {{copayer}}:</h6>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="dataBackUp">Recovery phrase (mnemonic) or File/Text backup</label>
            <input type="text" class="form-control" id="dataBackUp" name="dataBackUp" [(ngModel)]="data.backUp[copayer]" autocomplete="off" required>
          </div>

          <div class="form-group col-sm-6">
            <label for="contentFile">Or upload a File/Text backup:</label>
            <input type="file" class="form-control-file" id="contentFile" name="contentFile" accept=".json, .txt" aria-describedby="contentFileHelp"
              (change)="fileChangeEvent($event, copayer)">
            <small id="fileHelp" class="form-text text-muted">Extensions accepted: .json and .txt</small>
          </div>
        </div>

        <div class="form-group">
          <label for="dataPass">Backup password:</label><small> (in case you have one)</small>
          <input type="password" class="form-control" id="dataPass" name="dataPass" [(ngModel)]="data.pass[copayer]">
        </div>

        <div class="form-group">
          <label for="dataPassX">Encrypted private key password</label><small> (spending password)</small>
          <input type="password" class="form-control" id="dataPassX" name="dataPassX" [(ngModel)]="data.passX[copayer]">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>
      <input type="checkbox" [(ngModel)]="termsAccepted" name="termsAccepted">
        I have read and accept <a href="https://copay.io/disclaimer" target="_blank">Terms and Conditions</a>
      </label>
    </div>

    <button type="submit" [disabled]="!processInputsForm.form.valid  || showLoadingSpinner || !termsAccepted" class="btn btn-primary btn-lg btn-block">
      <span *ngIf="chain == 'btc/livenet' || chain == 'btc/testnet'">Scan BTC Wallet</span>
      <span *ngIf="chain == 'bch/livenet'">Scan BCH Wallet</span>
    </button>
  </form>

  <form #sendFundsForm="ngForm" (ngSubmit)="sendFunds(destinationAddress, chain)" *ngIf="!beforeScan && !done">
    <div class="card">
      <div class="card-block">
        <h6 class="card-title">{{totalBalanceStr}}</h6>
        <div class="input-group" *ngIf="!insufficentsFunds">
          <div class="input-group-addon">Destination Address:</div>
          <input type="text" class="form-control" id="destinationAddress" name="destinationAddress" [(ngModel)]="destinationAddress" required>
        </div>
      </div>
    </div>
    <button type="submit" *ngIf="!insufficentsFunds" [disabled]="!sendFundsForm.form.valid || showLoadingSpinner" class="btn btn-primary btn-lg btn-block">Transfer</button>
  </form>

  <button type="button" (click)="viewOnBlockchain()" *ngIf="broadcasted" class="btn btn-outline-primary btn-lg btn-block">View on blockchain</button>
  <button type="button" (click)="ngOnInit()" *ngIf="!beforeScan" class="btn btn-outline-primary btn-lg btn-block">Go back</button>

  <div [hidden]="!showLoadingSpinner">
    <div class="s1">
      <div class="s b sb1"></div>
      <div class="s b sb2"></div>
      <div class="s b sb3"></div>
      <div class="s b sb4"></div>
    </div>
    <div class="s2">
      <div class="s b sb5"></div>
      <div class="s b sb6"></div>
      <div class="s b sb7"></div>
      <div class="s b sb8"></div>
    </div>
    <div class="bigcon">
      <div class="big b"></div>
    </div>
  </div>

</div>
