.chain-logo {
  background: linear-gradient(to right, #293c92, #1abb9b);
  border-radius: 23px;
  -webkit-background-clip: padding-box;
  -moz-background-clip:    padding;
  background-clip:         padding-box;
}
.chain-logo-container {
  margin: auto;
}
