<div class="header">
  <div class="header-content">
    <img class="bitpay-logo" src="assets/img/bitpay-logo-negative.svg" alt="Bitpay">
    <div class="header-center">
      <h3 class="header-title">Recovery Tool v8</h3>
      <div class="repository-link">
        <a href="https://github.com/bitpay/copay-recovery" target="blank">
          <img src="assets/img/github.png" alt="Github">
        </a>
      </div>
    </div>
    <img class="copay-logo" src="assets/img/copay-logo-negative.svg" alt="Copay">
  </div>
</div>
<div [hidden]="!showLoadingSpinner" class="no-clickable-background">
  <div class="loading-message">
    <h5>Please wait</h5>
    <h5>This process could take several minutes</h5>
    <PRE *ngIf="(reportAddresses || reportAmount || reportInactive || reportXrpLocked) && beforeScan">
      <div class="labels">
        Active addresses found:
        Total funds found:
        Inactive Addresses Streak:
        <span *ngIf="showXrpLockedInfo">Locked funds:</span>
      </div>
      <div class="values">
        {{reportAddresses}}
        {{reportAmount}}
        {{reportInactive}}
        <span *ngIf="showXrpLockedInfo">{{reportXrpLocked}}</span>
      </div>
    </PRE>
    <div>
      <button type="button" (click)="ngOnInit()" class="btn btn-outline-default btn-lg">Cancel</button>
    </div>
  </div>
</div>
<div class="container">

  <div [hidden]="!successMessage" class="alert alert-success">{{successMessage}}</div>
  <div [hidden]="!errorMessage" class="alert alert-danger">{{errorMessage}}</div>
  <div [hidden]="!statusMessage" class="alert alert-info">{{statusMessage}}</div>

  <form #processInputsForm="ngForm" (ngSubmit)="processInputs()" *ngIf="beforeScan">

    <div class="card">
      <div class="card-block">
        <h4 class="card-title">WALLET CONFIGURATION</h4>
        <div class="row">
          <div class="col-sm-12 col-xs-12 first-row">
            <div class="form-group signatures">
              <label for="signaturesNumber">Required number of signatures</label>
              <select class="form-control" id="signaturesNumber" name="signaturesNumber" [(ngModel)]="signaturesNumber">
                <option *ngFor="let option of availableOptions" [ngValue]="option">{{option}}</option>
              </select>
            </div>

            <div class="form-group copayers">
              <label for="copayersNumber">Total number of Copayers</label>
              <select class="form-control" id="copayersNumber" name="copayersNumber" [(ngModel)]="copayersNumber" (ngModelChange)="updateCopayersForm($event)">
                <option *ngFor="let option of availableOptions" [ngValue]="option">{{option}}</option>
              </select>
            </div>
          </div>

          <div class="form-group col-sm-6 col-xs-12">
            <label for="chain">Chain: </label>
            <span *ngIf="chain == 'btc/livenet'">Bitcoin livenet</span>
            <span *ngIf="chain == 'btc/testnet'">Bitcoin testnet</span>
            <span *ngIf="chain == 'bch/livenet'">Bitcoin Cash livenet</span>
            <span *ngIf="chain == 'bch/testnet'">Bitcoin Cash testnet</span>
            <span *ngIf="chain == 'bsv/livenet'">Bitcoin Satoshi Vision livenet</span>
            <span *ngIf="chain == 'eth/livenet'">Ethereum livenet</span>
            <span *ngIf="chain == 'xrp/livenet'">XRP livenet</span>
            <span *ngIf="chain == 'xrp/testnet'">XRP testnet</span>
            <div class="chain-select">
              <select class="form-control" id="chain" name="chain" [(ngModel)]="chain" (ngModelChange)="updateAddressGap($event); updateIsSegwit()">
                <option *ngFor="let chain of availableChains" [ngValue]="chain">{{chain}}</option>
              </select>
              <div class="chain-logo-container">
                <img src="assets/img/icon-btc.svg" class="chain-logo" *ngIf="chain == 'btc/livenet'">
                <img src="assets/img/icon-testnet.svg" class="chain-logo" *ngIf="chain == 'btc/testnet' || chain == 'bch/testnet'">
                <img src="assets/img/icon-bch.svg" class="chain-logo" *ngIf="chain == 'bch/livenet'">
                <img src="assets/img/icon-eth.svg" *ngIf="chain == 'eth/livenet'">
                <img src="assets/img/icon-xrp.svg" *ngIf="chain == 'xrp/livenet' || chain == 'xrp/testnet'">
              </div>
            </div>
          </div>

          <div class="form-group col-sm-3 col-xs-12">
            <label for="addressGap">Address Gap*</label>
            <input type="number" min="0" class="form-control" id="addressGap" name="addressGap"  disabled="{{disableGapChange}}" [(ngModel)]="addressGap" required>
          </div>
          <div class="form-group col-sm-3 col-xs-12">
            <label for="account">Account*</label>
            <input type="number" min="0" class="form-control" id="account" name="account" [(ngModel)]="account" required>
          </div>
          <div class="col-sm-6 offset-sm-6 col-xs-12">
            <small>*Usually does not need to be changed</small>
          </div>

          <div *ngIf="chain == 'btc/livenet' || chain == 'btc/testnet'" class="form-group col-sm-3 col-xs-12">
            <label>
              <input type="checkbox" [(ngModel)]="isSegwit" name="isSegwit">
                Segwit wallet
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="card" *ngFor="let copayer of copayers">
      <div class="card-block">
        <h6 class="card-title">Backup for copayer {{copayer}}:</h6>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="dataBackUp">Recovery phrase (mnemonic) or File/Text backup</label>
            <input type="text" class="form-control" id="dataBackUp-{{copayer}}" name="dataBackUp-{{copayer}}" [(ngModel)]="data.backUp[copayer]" autocomplete="off">
          </div>

          <div class="form-group col-sm-6">
            <label for="contentFile">Or upload a File/Text backup:</label>
            <input type="file" class="form-control-file" id="contentFile" name="contentFile" accept=".json, .txt" aria-describedby="contentFileHelp" (change)="fileChangeEvent($event, copayer)">
            <small id="fileHelp" class="form-text text-muted">Extensions accepted: .json and .txt</small>
          </div>
        </div>

        <div class="form-group">
          <label for="dataPass">Backup password:</label><small> (in case you have one)</small>
          <input type="password" class="form-control" id="dataPass-{{copayer}}" name="dataPass-{{copayer}}" [(ngModel)]="data.pass[copayer]" autocomplete="off">
        </div>

        <div class="form-group">
          <label for="dataPassX">Encrypted private key password</label><small> (encrypt password)</small>
          <input type="password" class="form-control" id="dataPassX-{{copayer}}" name="dataPassX-{{copayer}}" [(ngModel)]="data.passX[copayer]" autocomplete="off">
        </div>
      </div>
    </div>


    <div class="form-group">
      <label>
        <input type="checkbox" [(ngModel)]="termsAccepted" name="termsAccepted">
        I have read and accept <a href="https://copay.io/disclaimer" target="_blank">Terms and Conditions</a>
      </label>
    </div>

    <button type="submit" [disabled]="!processInputsForm.form.valid  || showLoadingSpinner || !termsAccepted" class="btn btn-primary btn-lg btn-block">
      <span *ngIf="chain == 'btc/livenet' || chain == 'btc/testnet'">Scan BTC Wallet</span>
      <span *ngIf="chain == 'bch/livenet' || chain == 'bch/testnet'">Scan BCH Wallet</span>
      <span *ngIf="chain == 'bsv/livenet'">Scan BSV Wallet</span>
      <span *ngIf="chain == 'eth/livenet'">Scan ETH Wallet</span>
      <span *ngIf="chain == 'xrp/livenet' || chain == 'xrp/testnet'">Scan XRP Wallet</span>
    </button>
  </form>

  <form #sendFundsForm="ngForm" (ngSubmit)="sendFunds(destinationAddress, chain)" *ngIf="!beforeScan && !done">
    <div class="card">
      <div class="card-block">
        <h6 class="card-title">{{totalBalanceStr}}</h6>
        <h6 class="card-title" *ngIf="showXrpLockedInfo">{{totalBalanceLockedStr}}</h6>
        <small *ngIf="coin === 'xrp'">The XRP ledger requires that all wallets maintain a minimum balance of 20 XRP. This non-refundable 20 XRP will remain permanently locked in your wallet.</small>
        <div class="input-group" *ngIf="!insufficentsFunds">
          <div class="input-group-addon">Destination Address:</div>
          <input type="text" class="form-control" id="destinationAddress" name="destinationAddress" [(ngModel)]="destinationAddress" required>
        </div>
      </div>
    </div>
    <button type="submit" *ngIf="!insufficentsFunds" [disabled]="!sendFundsForm.form.valid || showLoadingSpinner" class="btn btn-primary btn-lg btn-block">Transfer</button>
  </form>

  <button type="button" (click)="viewOnBlockchain()" *ngIf="broadcasted" class="btn btn-outline-primary btn-lg btn-block">View on blockchain</button>
  <button type="button" (click)="ngOnInit()" *ngIf="!beforeScan" class="btn btn-outline-primary btn-lg btn-block">Go
    back</button>

  <div [hidden]="!showLoadingSpinner">
    <div class="s1">
      <div class="s b sb1"></div>
      <div class="s b sb2"></div>
      <div class="s b sb3"></div>
      <div class="s b sb4"></div>
    </div>
    <div class="s2">
      <div class="s b sb5"></div>
      <div class="s b sb6"></div>
      <div class="s b sb7"></div>
      <div class="s b sb8"></div>
    </div>
    <div class="bigcon">
      <div class="big b"></div>
    </div>
  </div>

</div>